body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: "Mat Saleh", sans-serif;
    font-family: 'Varela Round', sans-serif;
    margin: auto;
    width: 1440px;



}

/* FONT Start */
@font-face {
    font-family: myFirstFont;
    src: url("Assets/font_qianwen.ttf");
}


/* FONT End */

/* FONT family Start */
.x {
    line-height: 90%;
}

.y {
    line-height: 200%;

}

.z {
    line-height: 380%;
    word-spacing: -30px;
}


.a {
    font-family: myFirstFont;
    font-size: 110px;
}

.b {
    font-family: myFirstFont;
    font-size: 92px;
}

.c {
    font-family: myFirstFont;
    font-size: 72px;
}

.d {
    font-family: myFirstFont;
    font-size: 54px;
}

.e {
    font-family: myFirstFont;
    font-size: 37px;
}

.f {
    font-family: myFirstFont;
    font-size: 18px;
}

.h2a {
    font-family: 'Varela Round';
    font-size: 38px;
}

.h3e {
    font-family: "Mat Saleh", sans-serif;
    font-size: 37px;
}

.h4b {
    font-family: 'Varela Round';
    font-size: 36px;
}

.h4c {
    font-family: 'Varela Round';
    font-size: 32px;
}

.h4d {
    font-family: 'Varela Round';
    font-size: 25px;
}

.h4e {
    font-family: 'Varela Round';
    font-size: 21px;
}


/* FONT family End */

/* COLOR Start */

#RED {
    color: #FF0000;
}

#MAGENTA {
    color: #FF00FF;
}

#GREEN {
    color: #00FF00;
}

#YELLOW {
    color: #FFFF00;
}

#BLUE {
    color: #0000FF;
}

#CYAN {
    color: #00FFFF;
}

#BLACK {
    color: #dc4444;
}

#WHITE {
    color: #ffffff;
}

/* COLOR End */



/* DIV BOX Color Start */
#BoxCategory_1 {
    background-color: #128218;
}

#BoxCategory_2 {
    background-color: #4100f5;
}

#BoxCategory_3 {
    background-color: #431830;
}

#BoxCategory_4 {
    background-color: #e9f500;
}

#BoxCategory_5 {
    background-color: #8300f5;
}

/* DIV BOX Color End */

/* BUTTON START */
.fafa {
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 100%;
    border: none;
}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Mat Saleh", sans-serif;
    font-size: 31px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: auto;

}

.button1 {
    background-color: transparent;
    color: white;
    border: 4px solid #ffffff;
    border-radius: 30px;
    height: 57px;
    width: 175px;
}

.button1:hover {
    background-color: transparent;
    color: yellow;
    border: 4px solid #FFFF00;
    border-radius: 30px;
    height: 57px;
    width: 175px;
}


.button2 {
    background-color: transparent;
    color: white;
    border: 4px solid #ffffff;
    border-radius: 30px;
    height: 37px;
    width: 175px;
    padding-top: 11px;

}

.button2:hover {
    background-color: transparent;
    color: yellow;
    border: 4px solid #FFFF00;
    border-radius: 30px;
    height: 37px;
    width: 175px;
    padding-top: 11px;
}

.circle1 {
    height: 472px;
    width: 472px;
    background-color: transparent;
    border-top-left-radius: 100%;
    border: none;
}

.circle2 {
    height: 472px;
    width: 472px;
    background-color: transparent;
    border-top-right-radius: 100%;
    border: none;
}

.circle3 {
    height: 472px;
    width: 472px;
    background-color: transparent;
    border-bottom-left-radius: 100%;
    border: none;
}

.circle4 {
    height: 472px;
    width: 472px;
    background-color: transparent;
    border-bottom-right-radius: 100%;
    border: none;
}

/* BUTTON END */

/* BG Start */
/* INTRO PAGE Right Start */
#Intro_BG1 {
    background-image: url("Assets/texture_home.png");
    weight: 1440px;
    height: 880px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

/* INTRO PAGE Right End */


/* HOME PAGE BG Start */
/* HOME PAGE UP1 Start */
#Intro_BG2 {
    background-image: url("Assets/texture_home 2.png");
    weight: 1440px;
    height: 875px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

/* HOME PAGE UP1 End */


/* HOME PAGE MIDDLE Start */
#Intro_BG3 {
    background-image: url("Assets/texture_home3.png");
    weight: 1440px;
    height: 1754px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

/* HOME PAGE MIDDLE End */



/* HOME PAGE CONTACT Start */
#Intro_BG4 {
    background-image: url("Assets/texture_contact.png");
    weight: 1440px;
    height: 688px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

/* HOME PAGE CONTACT End */

/* HOME PAGE BOTTOM2 Start */
#Intro_BG5 {
    background-color: #ffffff;
}

/* HOME PAGE BOTTOM2 End */
/* HOME PAGE BG End */

/* ABOUT ME Start */
#Intro_BG6 {
    background-image: url("Assets/texture_about me.png");
    weight: 1440px;
    height: 1245px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

/* ABOUT ME End */

/* PROJECT Start */
#Intro_BG7 {
    background-image: url("Assets/texture_project.png");
    weight: 1440px;
    height: 540px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

/* PEOJECT End */
/* BG End */